<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- <div style=" display:flex">
        <button  type="submit" class="btn btn-success custom" (click)="ok()">Submit</button>

    </div> -->


    <div *ngIf="Flag" class="fullbody ">



       <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Chart</h1>

</div>
        <!-- <div class="ok1 d-flex justify-content-center">
            <div style="text-align: center;" class="box1" *ngFor="let n of ans;
    let i = index;">
               <p *ngIf="n.Eventcnt != 0"> {{n.Eventcnt}}</p>
            </div>
        </div> -->
        <div class="box d-flex justify-content-center my-border m-5" >
            <div style="color: white;" class="ok" [ngStyle]="{'height':n.HeightOfChart, 'background-color':n.Eventcnt != 0? '#8c5480' :'black','border':n.Eventcnt != 0? '3px solid #e3dceb' : '' }" *ngFor="let n of ans;
        let i = index;">
        <p *ngIf="n.Eventcnt != 0" style="text-align: center;"> {{n.Eventcnt}}</p>
               
            </div>
            <br>
        </div>
        <div class="ok1 d-flex justify-content-center">
            <div style="text-align: center;" class="box1" *ngFor="let n of ans;
    let i = index;">
                {{i+1}}
            </div>
        </div>
        <p  class="d-flex justify-content-center m-3">Month</p>

    </div>

    <div style="text-align: center;" *ngIf="!Flag">
        No Evnts
    </div>
</body>

</html>


