.box{
    display: flex;
    flex-direction: row;
    align-items: flex-end

  
}


.ji{
    display: flex;
    flex-direction: column;
    align-items: flex-end

  
}
.ok{
    background-color: rebeccapurple;
    /* border-radius: 10px; */
    /* border: 2px solid black; */
    /* margin: 25px; */
     /* height: 400px; */
    width: 50px; 
} 



.box1{
    width: 50px; 
}

.ok1{
    display: flex;
    flex-direction: row;
    align-items: flex-end
}

.maindiv{
    display: flex;

}



