<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Add Event</h1>

</div>

<div class="register-form ">

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class=" p-4 mb-5  rounded ">

        <div class="form-group m-2">
            <label>Event Name</label>
            <select formControlName="Event_Name"
            class="form-control"
            (change)="activity($event)"
            [ngClass]="{ 'is-invalid': submitted && f['Event_Name'].errors }">
                
                <option *ngFor=" let e of result" value={{e.Event_Name}}>{{e.Event_Name}}</option>
            </select>
        </div>

        <div class="form-group m-2">
            <label>Activity Name</label>
              <select formControlName="Activity_Name"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f['Activity_Name'].errors }">
                  
                  <option *ngFor=" let f of activityresult" value={{f.Activity_Name}}>{{f.Activity_Name}}</option>
              </select>
          </div>

          <div class="form-group m-2">
            <label>Activity Price</label>
            <input type="number" formControlName="Activity_Price" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f['Activity_Price'].errors }" />
            <div *ngIf="submitted && f['Activity_Price'].errors" class="invalid-feedback">
                <div *ngIf="f['Activity_Price'].errors['required']">Activity Price is required</div>

            </div>
        </div>




        <div class="form-group m-3 d-flex justify-content-evenly">
            <div class="p-3">
                <button type="submit" class="btn   btn-primary">Add Price</button>
            </div>

        </div>

        <div class="alert alert-success" id="result" style="display: none;" role="alert">
            Added Successful !!
        </div>


        <div class="alert alert-danger" id="failure" style="display: none;" role="alert">
            Failed !
        </div>


    </form>
</div>

<div class="alert alert-success" id="result" style = "display: none;" role="alert">
    Price added Successful !!
  </div>
  

  <div class="alert alert-danger" id="failure" style = "display: none;" role="alert">
    Failed !
  </div>