
    <div class="register-form ">

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class=" p-4 mb-5  rounded " >

      <div class="form-group m-2">
        <label>Email</label>
        <input
          type="text"
          formControlName="User_Email"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['User_Email'].errors }"
        />
        <div *ngIf="submitted && f['User_Email'].errors" class="invalid-feedback">
          <div *ngIf="f['User_Email'].errors['required']">Email is required</div>
          <div *ngIf="f['User_Email'].errors['User_Email']">Email is invalid</div>
        </div>
      </div>
  
        
     
  

      <div class="form-group m-2">
        <label>Password</label>
        <input
          type="password"
          formControlName="User_Password"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['User_Password'].errors }"
        />
        <div *ngIf="submitted && f['User_Password'].errors" class="invalid-feedback">
          <div *ngIf="f['User_Password'].errors['required']">Password is required</div>
          <div *ngIf="f['User_Password'].errors['minlength']">
            Password must be at least 6 characters
          </div>
          
        </div>
      </div>
  
    
  
    
      <div class="form-group m-3 d-flex justify-content-evenly">
        <div class = "p-3">
        <button type="submit" class="btn   btn-primary">Login</button>
    </div>
  
      </div>

      <div class="alert alert-success" id="result" style = "display: none;" role="alert">
        Login Successful !!
      </div>
      

      <div class="alert alert-danger" id="failure" style = "display: none;" role="alert">
        Login Failed !
      </div>


    </form>
</div>

