<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
    <symbol id="calendar3" viewBox="0 0 16 16">
        <path
            d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z" />
        <path
            d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
    </symbol>


    <symbol id="door-closed" viewBox="0 0 16 16">
        <path d="M3 2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2zm1 13h8V2H4v13z" />
        <path d="M9 9a1 1 0 1 0 2 0 1 1 0 0 0-2 0z" />
    </symbol>



    <symbol id="house-fill" viewBox="0 0 16 16">
        <path
            d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z" />
        <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z" />
    </symbol>



</svg>

<header class="navbar" style="background-color: #8c5480;">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 text-light" routerLink="/dashboard-user">User Dashboard</a>

    <ul class="navbar-nav flex-row d-md-none">
        <li class="nav-item text-nowrap">
            <button class="nav-link px-3 text-white" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSearch" aria-controls="navbarSearch" aria-expanded="false"
                aria-label="Toggle search">
                <svg class="bi">
                    <use xlink:href="#search" />
                </svg>
            </button>
        </li>
        <li class="nav-item text-nowrap">
            <button class="nav-link px-3 text-white" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
                aria-label="Toggle navigation">
                <svg class="bi">
                    <use xlink:href="#list" />
                </svg>
            </button>
        </li>
    </ul>


</header>

<div class="container-fluid">
    <div class="row">
        <div class="sidebar col-md-3 col-lg-2 p-0" style="background-color: #e3dceb;">
            <div class="offcanvas-md offcanvas-end" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="sidebarMenuLabel">Company name</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a routerLink="[]" (click)="load('')"
                                class="nav-link d-flex align-items-center gap-2 active text-black" aria-current="page"
                                routerLink="/dashboard-user">
                                <svg class="bi">
                                    <use xlink:href="#house-fill" />
                                </svg>
                                Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="[]" (click)="load('event-list')"
                                class="nav-link d-flex align-items-center gap-2 text-black">
                                <svg class="bi">
                                    <use xlink:href="#calendar3" />
                                </svg>
                                All Events
                            </a>
                        </li>




                    </ul>


                    <hr class="my-3">

                    <ul class="nav flex-column mb-auto">

                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center gap-2 text-black"
                                [routerLink]="['/login-user']" onclick="sessionStorage.clear()">
                                <svg class="bi">
                                    <use xlink:href="#door-closed" />
                                </svg>
                                Sign out
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 ">

            <div *ngIf=" selectedcomponent ==''" class="container m-3">
                <table class="table  table-bordered border-secondary table-hover text-center "
                    *ngIf="result!= null && result!=''&& result!= undefined; else elseblock">
                    <thead>
                        <tr>
                            <td class=" text-light" style="background-color: #8c5480;" colspan="4">Ongoing Events</td>
                        </tr>
                        <tr>
                            <th>Event Name</th>
                            <th>Event Description</th>
                            <th>Start Date</th>
                            <th>End Date</th>


                        </tr>
                    </thead>

                    <tbody *ngFor="let exp of result">
                        <tr>
                            <td>{{exp.Event_Name}}</td>
                            <td>{{exp.Event_Description }}</td>
                            <td>{{exp.Event_Start_Date }}</td>
                            <td>{{exp.Event_End_Date }}</td>


                        </tr>
                    </tbody>


                </table>
                <ng-template #elseblock>
                    <div class="alert" role="alert" style=" background-color: #e3dceb;">
                        No Ongoing Events !!
                    </div>
                </ng-template>
            </div>

            <app-event-list *ngIf=" selectedcomponent =='event-list'"></app-event-list>

            <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>


        </main>
    </div>
</div>