<div class="container m-3">
            
    <table class="table  table-bordered border-secondary table-hover text-center " id="pdfTable"
        *ngIf="result!=null">
        <thead>
            
            <tr>
                <th>Event Name</th>
                <th>Event Description</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Details</th>

            </tr>
        </thead>

        <tbody *ngFor="let exp of result">
            <tr>
                <td>{{exp.Event_Name}}</td>
                <td>{{exp.Event_Description }}</td>
                <td>{{exp.Event_Start_Date }}</td>
                <td>{{exp.Event_End_Date }}</td>
                <td><button class="btn  btn-outline-secondary" (click)="details(exp.Event_Name,exp.Event_Start_Date,exp.Event_End_Date,exp.Event_Description,exp.Event_Image)">Click</button></td>

            </tr>
        </tbody>


    </table>
</div>

<div *ngIf="flag == true">
<div class="card text-center m-3" >
    <div class="card-header">
       Start Date : {{estartdate }} &nbsp; &nbsp; End Date :    {{eenddate }}
      </div>
      <img [src]="'data:image/jpeg;base64,'+eimage" class="card-img-top" alt="Event Image">
    <div class="card-body" >
      <h5 class="card-title">{{ename}}</h5>
      <p class="card-text">{{edescription}}</p>
     
    </div>
    
    <div class="container">
            
        <table class="table  table-bordered border-secondary table-hover text-center " id="pdfTable"
            *ngIf="activityresult!=null">
            <thead>
                
                <tr>
                    <th>Activity Name</th>
                    <th>Activity Description</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Price</th>
    
                </tr>
            </thead>
    
            <tbody *ngFor="let exp of activityresult">
                <tr>
                    <td>{{exp.Activity_Name}}</td>
                    <td>{{exp.Activity_Description }}</td>
                    <td>{{exp.Activity_Start_Datetime }}</td>
                    <td>{{exp.Activity_End_Datetime }}</td>
                    <td>{{exp.Activity_Price}}</td>
    
                </tr>
            </tbody>
    
    
        </table>
    </div>
 
  </div>
</div>

 


