<app-toasts aria-live="polite" aria-atomic="true" class="ngb-toasts"></app-toasts>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Update Event</h1>

</div>
<div class="container" *ngIf="show && result!= null && result!=''&& result!= undefined; else elseblock">
  <p class="text-danger d-flex justify-content-center">If you update date All activities will be deleted</p>
  <div class="register-form" >

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class=" p-4 mb-5 rounded ">

    <div class="form-group m-2">
      <label>Old Event Name</label>
      <select formControlName="Event_Name" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['Event_Name'].errors }" (change)="details()">

        <option *ngFor=" let e of result"  value={{e.Event_Name}}>{{e.Event_Name}}</option>
      </select>
      <div *ngIf="submitted" class="text-warning">
        <div *ngIf="select == false">Event Name is required</div>

      </div>
    </div>

    <div class="form-group m-2">
      <label>New Event Name</label>
      <input type="text" formControlName="New_Event_Name" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['New_Event_Name'].errors  }" (keypress)="name($event)" />
      <div *ngIf="submitted && f['New_Event_Name'].errors && select==true" class="text-warning">
        <div *ngIf="f['New_Event_Name'].errors['required']">New Event Name is required</div>
        <div *ngIf="f['New_Event_Name'].errors['pattern']">New Event Name is invalid</div>

      </div>
    </div>

    <div class="form-group m-2">
      <label>Starting Date</label>
      <input type="date" formControlName="Event_Start_Date" class="form-control" [min]="Currentdate"
      [max]="form.get('Event_End_Date')?.value" 
        [ngClass]="{ 'is-invalid': submitted && f['Event_Start_Date'].errors }" />
      <div *ngIf="submitted && f['Event_Start_Date'].errors && select==true" class="text-warning">
        <div *ngIf="f['Event_Start_Date'].errors['required']">Starting Date is required</div>

      </div>
    </div>

    <div class="form-group m-2">
      <label>Ending Date</label>
      <input type="date" formControlName="Event_End_Date" class="form-control"
        [min]="form.get('Event_Start_Date')?.value" [min]="Currentdate"
        [ngClass]="{ 'is-invalid': submitted && f['Event_End_Date'].errors }" />
      <div *ngIf="submitted && f['Event_End_Date'].errors && select==true" class="text-warning">
        <div *ngIf="f['Event_End_Date'].errors['required']">Ending Date is required</div>

      </div>
    </div>

    <div class="form-group m-2">
      <label>Image</label>
      <input type="file" formControlName="Event_Image" class="form-control" (change)="base($event)" />

    </div>




    <div class="form-group m-2">
      <label>Description</label>
      <input type="text" formControlName="Event_Description" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['Event_Description'].errors }" />
      <div *ngIf="submitted && f['Event_Description'].errors && select==true" class="text-warning">
        <div *ngIf="f['Event_Description'].errors['required']">Description is required</div>


      </div>
    </div>




    <div class="form-group m-1 d-flex justify-content-evenly">
      <div class="p-3">
        <button type="submit" class="btn  btn-light">Add</button>
      </div>

      <div class="p-3">
        <button type="button" class="btn  btn-light" (click)="share.load('activity-add')">Next</button>
      </div>

    </div>


  </form>
</div>

</div>
<ng-template #elseblock >
  <div class="alert my-3 " role="alert" style="background-color: #e3dceb;">
  No Events to Update
</div>
</ng-template>
