<svg xmlns="http://www.w3.org/2000/svg" class="d-none">

    <symbol id="publish" viewBox="0 0 16 16">
        <path
            d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5" />
        <path
            d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708z" />
    </symbol>
    <symbol id="rupee" viewBox="0 0 16 16">
        <path
            d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4z" />
    </symbol>

    <symbol id="door-closed" viewBox="0 0 16 16">
        <path d="M3 2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2zm1 13h8V2H4v13z" />
        <path d="M9 9a1 1 0 1 0 2 0 1 1 0 0 0-2 0z" />
    </symbol>

    <symbol id="file-earmark-text" viewBox="0 0 16 16">
        <path
            d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z" />
        <path
            d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z" />
    </symbol>

    <symbol id="house-fill" viewBox="0 0 16 16">
        <path
            d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z" />
        <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z" />
    </symbol>

    <symbol id="plus-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
        <path
            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
    </symbol>
    <symbol id="delete" viewBox="0 0 16 16">
        <path
            d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
    </symbol>
    <symbol id="update" viewBox="0 0 16 16">
        <path
            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
        <path fill-rule="evenodd"
            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
    </symbol>
    <symbol id="list" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5" />
    </symbol>
    <symbol id="calendar3" viewBox="0 0 16 16">
        <path
            d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z" />
        <path
            d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
    </symbol>
    <symbol id="exit" viewBox="0 0 16 16">
        <path
            d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
    </symbol>
    <symbol id="chart" viewBox="0 0 16 16">
        <path d="M4 11H2v3h2zm5-4H7v7h2zm5-5v12h-2V2zm-2-1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM6 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1zm-5 4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1z"/>
    </symbol>

</svg>

<header class="navbar" style="background-color: #8c5480;">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 text-light " routerLink="/admin">Admin
        Dashboard</a>

    <ul class="navbar-nav flex-row d-md-none">

        <li class="nav-item text-nowrap">
            <button class="nav-link px-3 text-white" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
                aria-label="Toggle navigation">
                <svg class="bi">
                    <use xlink:href="#list" />
                </svg>
            </button>
        </li>
    </ul>


</header>

<div class="container-fluid">
    <div class="row">
        <div class="sidebar border border-right col-md-3 col-lg-2 p-0 " style="background-color: #e3dceb;">
            <div class="offcanvas-md offcanvas-end " tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="sidebarMenuLabel">Company name</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <button class="nav-link d-flex align-items-center gap-2 active text-black" [routerLink]="['/admin/dashboard']"
                                aria-current="page">
                                <svg class="bi">
                                    <use xlink:href="#house-fill" />
                                </svg>
                                Dashboard
                            </button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link d-flex align-items-center gap-2 active text-black" [routerLink]="['/admin/newdashboard']"
                                aria-current="page">
                                <svg class="bi">
                                    <use xlink:href="#house-fill" />
                                </svg>
                               New Dashboard
                            </button>
                        </li>
                        <li class="nav-item">
                            <button [routerLink]="['/admin/event-add']"
                                class="nav-link d-flex align-items-center gap-2 text-black">
                                <svg class="bi">
                                    <use xlink:href="#plus-circle" />
                                </svg>
                                Add Event
                            </button>
                        </li>
                        <li class="nav-item">
                            <button [routerLink]="['/admin/event-update']"
                                class="nav-link d-flex align-items-center gap-2 text-black">
                                <svg class="bi">
                                    <use xlink:href="#update" />
                                </svg>
                                Update Event
                            </button>
                        </li>
                        <li class="nav-item">
                            <button [routerLink]="['/admin/event-delete']"
                                class="nav-link d-flex align-items-center gap-2 text-black">
                                <svg class="bi">
                                    <use xlink:href="#delete" />
                                </svg>
                                Delete Event
                            </button>
                        </li>



                        <hr class="my-3">


                        <li class="nav-item">
                            <button [routerLink]="['/admin/activity-add']"
                                class="nav-link d-flex align-items-center gap-2 text-black">
                                <svg class="bi">
                                    <use xlink:href="#file-earmark-text" />
                                </svg>
                                Add Activity
                            </button>
                        </li>
                        <li class="nav-item">
                            <button [routerLink]="['/admin/activity-price']"
                                class="nav-link d-flex align-items-center gap-2 text-black" href="#">
                                <svg class="bi">
                                    <use xlink:href="#rupee" />
                                </svg>
                                Add Price
                            </button>
                        </li>
                        <hr class="my-3">
                        <li class="nav-item">
                            <button [routerLink]="['/admin/event-publish']"
                                class="nav-link d-flex align-items-center gap-2 text-black" href="#">
                                <svg class="bi">
                                    <use xlink:href="#publish" />
                                </svg>
                                Publish Event
                            </button>
                        </li>
                        <hr class="my-3">
                        <li class="nav-item">
                            <button [routerLink]="['/admin/chart']"
                                class="nav-link d-flex align-items-center gap-2 text-black" href="#">
                                <svg class="bi">
                                    <use xlink:href="#chart" />
                                </svg>
                                Chart
                            </button>
                        </li>

                    </ul>

                    <hr class="my-3">

                    <ul class="nav flex-column mb-auto">

                        <li class="nav-item">
                            <button class="nav-link d-flex align-items-center gap-2 text-black"
                                [routerLink]="['/login-admin']" onclick="sessionStorage.clear()">
                                <svg class="bi">
                                    <use xlink:href="#door-closed" />
                                </svg>
                                Sign out
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
           
     
            <router-outlet> </router-outlet>
            <canvas class="my-4 w-100" id="myChart" width="900" height="380">
            </canvas>



        </main>


    </div>
</div>

