<div class="content">
    <nav class="navbar border-bottom " style="background-color: #8c5480;">
      <div class="container-fluid ">
        <a class="navbar-brand text-light" routerLink="/home">
          <img src="../../assets/android-chrome-192x192.png" alt="Logo" width="30" height="30"
            class="d-inline-block align-text-top">
          EVENT MANAGEMENT
        </a>
        
      </div>
    </nav>

    <div class="container-fluid  custom" style="background-color: #e3dceb ;">
        <h1 class="d-flex justify-content-center">404</h1>
        <p class="d-flex justify-content-center">The Page You're looking for is Not Found !!</p>
    </div>
</div>