@import url(//fonts.googleapis.com/css?family=Open+Sans:400);
@import url(//fonts.googleapis.com/css?family=Open+Sans:300);
@import url(//fonts.googleapis.com/css?family=Open+Sans:700);
@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic);
@import url(//fonts.googleapis.com/css?family=Dosis:400);
@import url(//fonts.googleapis.com/css?family=Dosis:600);

html {
    width: 100%;
}

a[href^="tel:"] {
    color: inherit;
    text-decoration: none;
}

sss * {
    -webkit-text-size-adjust: none;
}

body {
    position: relative;
    background: #ffffff;

    font: 300 14px/20px 'Open Sans', sans-serif;
}



p {
    margin-bottom: 20px;
}

p.offset__1 {
    margin-bottom: 22px;
}

img {
    max-width: 100%;
}



h2 {
    font-weight: normal;

    font-family: 'Dosis', sans-serif;
    font-size: 72px;
    line-height: 72px;
    color: #000000;
    padding-top: 76px;
    margin-bottom: 78px;
}

.main {
    width: 1224px;
    margin: 0 auto;
}

h1 {
    float: left;
    text-align: center;
    z-index: 990;
}

header h1 a {
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -999px;
    -webkit-transition: 0s ease;
    transition: 0s ease;
}

#content {
    padding-bottom: 52px;
}

.block1 {
    padding-top: 42px;
    text-align: center;
}

.block1 .block1_title {
    font: 33px/36px 'Dosis', sans-serif;
}

.block1 .block1_title span {
    display: block;
    font-size: 24px;
    padding-top: 3px;
}