<!--==============================
              header
=================================-->
<div class="content">
  <nav class="navbar border-bottom " style="background-color: #8c5480;">
    <div class="container-fluid ">
      <a class="navbar-brand text-light" routerLink="/home">
        <img src="../../assets/android-chrome-192x192.png" alt="Logo" width="30" height="30"
          class="d-inline-block align-text-top">
        EVENT MANAGEMENT
      </a>
      <form class="d-flex" role="search">

        <button class="btn btn-outline text-light dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            User
          </a>
          <ul class="dropdown-menu" style="  background-color: #e3dceb;">
            <li><a class="dropdown-item btn btn-outline" routerLink="/login-user">Login</a></li>
            <li><a class="dropdown-item btn btn-outline" routerLink="/register-user">Register</a></li>

          </ul>
        </button>
        <button class="btn btn-outline text-light mx-3" (routerLink)="['/login-admin']" type="button">Admin</button>

      </form>
    </div>
  </nav>

  <!--=====================
          Content
======================-->

  <div class="container">
    <div class="row">

      <div class="col-6 p-5">
        <img class="img img-fluid" src="../assets/Home.jpg" alt="">
      </div>
      <div class="col-6">
        <h2>Best Event Manager <br> Available Right Now <br> In Market </h2>
      </div>

    </div>
    <div class="clear"></div>
    <div class="grid_10 preffix_1">
      <div class="block1">
        <div class="block1_title ">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In mollis erat mattis neque facilisis, sit amet
          ultricies erat rutrumas facilisis, nulla vel viverra
          <span>Auctor, leo magna sodales felis, quis malesuada nibh odio ut velit</span>
        </div>

      </div>
    </div>

  </div>




</div>